<header class="header fixed">
  <div class="row">
    <div class="twelve columns">
      <nav class="primary-nav">
        <ul>
            {{#link-to 'despachador'}}Despachador{{/link-to}}
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class='content clearfix'>
  <div class='container clearfix'>
    {{outlet "flash"}}
    <section class='main'>
      <div class='container clearfix' id='dynamic_content'>
        {{outlet}}
      <div>
    </section>
  </div>
</div>

{{outlet "modal"}}